{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

	<h1>Login</h1>

	
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

    <div class="col-md-8">
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="_password" />
                {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" class="btn btn-primary" name="_target_path" value="/account" />
                #}
            </div>
            
            <button type="submit">login</button>
        </form>
    </div>


</div>
{% endblock %}
